body {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.1rem;
}
body a {
  color: white;
  text-decoration: none;
}
body a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
body h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 400%;
  line-height: 75%;
  margin-bottom: 3rem;
}
body h1.mobile {
  margin-bottom: 0;
  line-height: 110%;
  padding: 10%;
  font-size: 250%;
}
body h1 small {
  font-family: 'Poiret One', cursive;
  font-size: 1.1rem;
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Poiret One', cursive;
}
body ul {
  list-style: none;
}
body div.frame {
  position: relative;
  padding: 2rem 2rem 4rem 12rem;
  background-color: #001210;
  background-image: url('images/sea.webp');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
body div.frame.mobile {
  padding: 0;
}
body div.frame .nav {
  position: absolute;
  left: 16px;
  top: 24px;
  color: white;
  font-family: 'Poiret One', cursive;
}
body div.frame .nav ul {
  list-style: none;
  text-align: center;
}
body div.frame .nav ul li {
  margin: 15px;
  margin-left: 0;
}
body div.frame .nav ul li.active {
  font-weight: bold;
}
body div.frame .nav ul .profile-img {
  width: 75px;
  border-radius: 100%;
  border: 1px solid white;
}
body div.frame .nav ul .profile-img:hover {
  border: 3px solid white;
}
body div.frame .mnav {
  text-align: center;
  height: 100vh;
  width: 175px;
  background-color: #001210;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-family: 'Poiret One', cursive;
  padding: 1rem;
  padding-left: 0.6rem;
  z-index: 1000;
}
body div.frame .mnav.inactive {
  width: 0;
  padding: 0;
}
body div.frame .mnav.inactive ul {
  display: none;
}
body div.frame .mnav.inactive ul li.active {
  font-weight: bold;
}
body div.frame .mnav.inactive i {
  position: absolute;
  left: 0;
  color: #001210;
}
body div.frame .mnav.inactive i#menu-icon {
  font-size: 32px!important;
}
body div.frame .mnav.inactive i#menu-icon.flaticon-menu-1 {
  top: 0.5rem;
  left: 1.5rem;
}
body div.frame .mnav.inactive .mcredits {
  display: none;
}
body div.frame .mnav.inactive .mcopyright {
  display: none;
}
body div.frame .mnav i {
  position: absolute;
  top: 4px;
  left: 124px;
}
body div.frame .mnav ul {
  list-style: none;
}
body div.frame .mnav ul li {
  margin: 15px;
  margin-left: 0;
}
body div.frame .mnav ul .profile-img {
  width: 75px;
  border-radius: 100%;
  border: 1px solid white;
}
body div.frame .mnav .mcredits {
  position: absolute;
  left: 6px;
  bottom: 10%;
  font-size: 50%;
  display: initial;
}
body div.frame .mnav .mcopyright {
  position: absolute;
  left: 32px;
  bottom: 3%;
  font-size: 50%;
  display: initial;
}
body div.content {
  color: #001210;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
body div.content .align-left {
  text-align: left;
}
body div.content label {
  text-align: left;
}
body div.content a {
  color: #001210;
}
body div.content.mobile {
  background-image: url('images/sea.jpg');
  background-size: cover;
}
body div.content.mobile > * {
  background-color: rgba(255, 255, 255, 0.75);
}
body div.credits {
  position: absolute;
  font-size: small;
  left: 2rem;
  width: 7rem;
  text-align: center;
  bottom: 4rem;
}
body div.copyright {
  position: absolute;
  right: 2rem;
  font-family: 'Poiret One', cursive;
  bottom: 1rem;
}
.layout-1-2:not(.sm) hr {
  width: 50%;
}
.layout-1-2:not(.sm) .row div.col-lg-6:first-child {
  border-right: 0.5px solid #001210;
}
.layout-1-2:not(.sm) .row div.col-lg-6 .row:first-child .col-12:first-child {
  border-bottom: 0.5px solid #001210;
}
div.row.layout-1-2 > *:first-child {
  padding: 2rem;
}
.active {
  font-weight: bold!important;
}
.align-left {
  text-align: left;
}
.btn {
  margin: 8px;
}
.btn.btn-outline-dark {
  color: #001210;
  border-color: #001210;
}
.btn.btn-outline-dark:hover {
  background-color: #001210;
  border-color: #001210;
  color: white;
}
.highlight {
  background-color: #ECB499 !important;
}
.init-display {
  display: initial;
}
.lightest-color {
  color: white;
}
.no-display {
  display: none;
}
.progress {
  margin-bottom: 30px;
}
.progress .progress-bar {
  background-color: #134b66;
}
@media screen and (max-width: 767px) {
  body h1 {
    font-size: 250%;
  }
}
